.wrapper-body h3 {
    display: inline-block;
    margin-right: 3%;
}

.btn-ticket {
    position:relative;
    align-items: flex-end;
    float: right;
    bottom: 5px;
   
}
.btn-ticket-reply{
    position:relative;
    float: right;
    margin-bottom: 50px;
}

.inputtext {
   width:100%;
    height: 250px;
    border: 2px solid #2c305d;
}

.dashboard-body th {
    color: #2c305d;
}

.dashboard-body td {
    color: #767676;
}


.table-profile-text p {
    margin: 0;
}

.table-name {
    color: #2c305d;
    font-weight: 600;
}

.list-actions li {
    display: inline-block;
    margin-right: 10px;
}
/*Create ticket page*/
.dashboard-body h3{
    text-align: center;
}
.dashboard-body img{
    width: 30px;
    height: 30px;
    text-align: center;
}
.create-ticket-form{
    margin-right:100px;
    margin-left:100px;
}
.formtext{
   width:100%;
    height: 50px;
    border: 2px solid #2c305d;
}
.submitbutton{
    text-align: center;
  
}
/*.btn-create{
    margin-left:300px;
}*/
/*support ticket reply*/
.reply{
	margin-top:5px;
    margin-left: 30px;
    margin-right: 50px;
    margin-bottom:8px;
    border-radius:5px;
    border-right-color:blue;
    padding-left:5px;
    padding-bottom:0.05px; 
    color:#fff;
    background-color: #e8e8e8;
}
.reply p{
	 color:black;
}
.message{
	margin-top:8px;
	margin-right: 80px;
	padding-left:5px;
    padding-bottom:0.05px; 
	border-radius:5px;
	border-color: black;
	background-color:#5eff5e;
	
}

.icon-edit , .icon-delete{
	width:15px;
	 height:15px;
}