.wrapper-body h3 {
    display: inline-block;
    margin-right: 3%;
}

.btn-adduser {
    position: relative;
    bottom: 5px;
}

.dashboard-body th {
    color: #2c305d;
}

.dashboard-body td {
    color: #767676;
}

.table-profile-picture,
.table-profile-text {
    display: inline-block;
}

.table-profile-picture {
    position: relative;
    bottom: 10px;
    margin-right: 5%;
}

.table-profile-text p {
    margin: 0;
}

.table-name {
    color: #2c305d;
    font-weight: 600;
}

.list-actions li {
    display: inline-block;
    margin-right: 10px;
}